<section class="auth">
  <span class="auth-title">{{ isLoginMode ? "Đăng Nhập" : "Đăng ký" }}</span>
  <form
    *ngIf="!isLoading; else Loading"
    class="auth__form"
    #authForm="ngForm"
    (ngSubmit)="onSubmit(authForm)"
  >
    <div>
      <label>Email:</label>
      <input
        email
        required
        [name]="isLoginMode ? 'username' : 'email'"
        type="text"
        ngModel
        #email="ngModel"
      />
    </div>
    <div
      *ngIf="email.errors?.['email'] || email.errors?.['required'] && email.touched"
    >
      <span> A valid email is required </span>
    </div>
    <div>
      <label>Mật khẩu:</label>
      <input
        required
        minlength="8"
        name="password"
        type="password"
        ngModel
        #password="ngModel"
      />
    </div>
    <div
      *ngIf="password.errors?.['minlength'] || password.errors?.['required'] && password.touched"
    >
      <span> A valid password is required </span>
    </div>
    <div class="forgot-password" *ngIf="isLoginMode">
      <a class="hover--underline" routerLink="/forgot-password"
        >Quên mật khẩu</a
      >
    </div>
    <ng-container *ngIf="!isLoginMode">
      <div>
        <label>Nhập lại mật khẩu:</label>
        <input
        [(ngModel)]="passwordReenter"
        [ngModelOptions]="{standalone: true}"
          type="password-reenter"
        />
      </div>
      <div>
        <label>SDT:</label>
        <input name="phone" type="text" ngModel />
      </div>
      <div>
        <label>Họ:</label>
        <input name="firstName" type="text" ngModel />
      </div>
      <div>
        <label>Tên:</label>
        <input name="lastName" type="text" ngModel />
      </div>
      <div>
        <label>Ngày sinh:</label>
        <input
          name="dob"
          type="date"
          ngModel
          max="{{ today | date: 'yyyy-MM-dd' }}"
        />
      </div>
      <div>
        <label>Giới tính:</label>
        <input
          class="input__radio"
          name="gender"
          value="male"
          type="radio"
          ngModel
        />Nam
        <input
          class="input__radio"
          name="gender"
          value="female"
          type="radio"
          ngModel
        />Nữ
      </div>
    </ng-container>
    <div class="form__button">
      <button [disabled]="authForm.invalid">{{ isLoginMode ? "Đăng nhập" : "Đăng ký" }}</button>
    </div>
  </form>
  <span class="mode-switch"
    >{{ isLoginMode ? "Không có tài khoản ? " : "Đã có tài khoản ? "
    }}<a class="hover--underline" (click)="onSwitchMode()">{{
      isLoginMode ? "Đăng ký" : "Đăng nhập"
    }}</a></span
  >
  <ng-template #Loading>
    <p class="loading">Loading...</p>
  </ng-template>
</section>
