<header class="header">
  <div class="header__left">
    <a routerLink="/" class="header__brand">Phong Vu.</a>
    <form action="" class="header__form">
      <input
        type="text"
        class="form__input"
        placeholder="Nhập từ khóa cần tìm..."
      />
      <button class="form__button">
        <fa-icon [icon]="searchIcon"></fa-icon>
      </button>
    </form>
  </div>
  <div class="header__right">
    <button class="icon__button">
      <fa-icon [icon]="faTag"></fa-icon>
      <span>Khuyến mãi</span>
    </button>
    <button class="icon__button">
      <fa-icon [icon]="faClipboardList"></fa-icon>
      <span>Đơn hàng</span>
    </button>
    <button
      (mouseover)="onAccountHover(true)"
      (mouseleave)="onAccountHover(false)"
      class="icon__button"
    >
      <app-header-profile
        [userData]="userData"
        *ngIf="isAccountHovered && userData"
      ></app-header-profile>
      <fa-icon
        routerLink="/login"
        [icon]="faUser"
        *ngIf="!userData || !userData.avatar; else avatar"
      ></fa-icon>
      <ng-template #avatar>
        <img class="avatar__img" [src]="userData && userData.avatar" alt="" />
      </ng-template>
      <span>{{ userData ? userData.firstName : "Đăng nhập" }}</span>
    </button>
    <button class="icon__button">
      <fa-icon [icon]="faBell"></fa-icon>
      <span>Thông báo</span>
    </button>
    <button
      class="icon__button"
      (mouseover)="onCartHover(true)"
      (mouseleave)="onCartHover(false)"
    >
      <app-header-cart *ngIf="isCartHovered"></app-header-cart>
      <fa-icon routerLink="/checkout" [icon]="faCartShopping"></fa-icon>
      <div class="cart-badge"><span>{{totalQuantity}}</span></div>
      <span>Giỏ hàng</span>
    </button>
  </div>
</header>
