<section class="block">
  <span class="block-title">Quên mật khẩu</span>
  <form class="block__form" #form="ngForm" (ngSubmit)="onSubmit(form)">
    <div>
      <label>Email:</label>
      <input
        email
        required
        name="username"
        type="text"
        ngModel
        #email="ngModel"
      />
    </div>
    <div
      *ngIf="email.errors?.['email'] || email.errors?.['required'] && email.touched"
    >
      <span> A valid email is required </span>
    </div>
    <div class="form__button">
      <button [disabled]="form.invalid">Gửi email xác thực</button>
    </div>
  </form>
</section>
